<div class="Masonry">

    <div class="Card">
        <img class="Card__Image" data-src="holder.js/100px160/" alt="100%x160"
             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22242%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20242%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15dac8f5557%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15dac8f5557%22%3E%3Crect%20width%3D%22242%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2289%22%20y%3D%2285.4%22%3E242x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
             data-holder-rendered="true">
        <div class="Card__Body">
            <h4 class="Card__Title">Card title that wraps to a new line</h4>
            <p>This is a longer Card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.</p>
        </div>
    </div>

    <div class="Card">
        <blockquote class="Card__Body Card__Body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                posuere erat a ante.</p>
            <footer>
                <small>
                    Someone famous in <cite title="Source Title">Source
                    Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="Card">
        <img class="Card__Image" data-src="holder.js/100px160/" alt="100%x160"
             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22242%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20242%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15dac8f5558%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15dac8f5558%22%3E%3Crect%20width%3D%22242%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2289%22%20y%3D%2285.4%22%3E242x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
             data-holder-rendered="true">
        <div class="Card__Body">
            <h4 class="Card__Title">Card title</h4>
            <p>This Card has supporting text below as a natural lead-in to
                additional content.</p>
            <p>
                <small>Last updated 3 mins ago</small>
            </p>
        </div>
    </div>
    <div class="Card u-text-center">
        <blockquote class="Card__Body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                posuere erat.</p>
            <footer>
                <small>
                    Someone famous in <cite title="Source Title">Source
                    Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="Card u-text-center">
        <div class="Card__Body">
            <h4 class="Card__Title">Card title</h4>
            <p>This Card has supporting text below as a natural lead-in to
                additional content.</p>
            <p>
                <small>Last updated 3 mins ago</small>
            </p>
        </div>
    </div>
    <div class="Card">
        <img class="Card__Image" data-src="holder.js/100px260/"
             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22242%22%20height%3D%22260%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20242%20260%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15dac8f5559%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15dac8f5559%22%3E%3Crect%20width%3D%22242%22%20height%3D%22260%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2288.5%22%20y%3D%22135.7%22%3E242x260%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
             data-holder-rendered="true">
    </div>
    <div class="Card u-text-right">
        <blockquote class="Card__Body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                posuere erat a ante.</p>
            <footer>
                <small>
                    Someone famous in <cite title="Source Title">Source
                    Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="Card">
        <div class="Card__Body">
            <h4 class="Card__Title">Card title</h4>
            <p>This is a wider Card with supporting text below as a natural
                lead-in to additional content. This Card has even longer content
                than the first to show that equal height action.</p>
            <p>
                <small>Last updated 3 mins ago</small>
            </p>
        </div>
    </div>
</div>