$color-block: orange;
$color-elem: #228843;
$color-mod: #ab345c;

.doc {
  h1 {
    small {
      padding-left: 0.3em;
      display: block;
      font-size: 1rem;
      line-height: 1;
      font-weight: 300;
      color: $color-gray;
    }
  }
  hr {
    //width: 50%;
    margin: 1.75rem auto;
    border: none;
    height: 1px;
    background: #7b7b7b;
    opacity: .1;
    width: 50%;
  }
  small {
    font-size: .5em;
    vertical-align: middle;
  }

  article {
    margin-bottom: vr(4);
  }

  main {
    padding-top: 100px;
    padding-bottom: 200px;
  }



  //==========================================================================
  // Demo Block
  //==========================================================================

  .Demo {
    margin-top: -1px;
    .Demo__header {
      border: .2rem solid #f9f9f9;
      position: relative;
      padding: 2rem vr(1);
      transition: .25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      z-index: 2;

    }
    .Demo__header--dark {
      background-color: transparent;
      &:after {
        height: 100%;
      }
    }
    .Demo__footer {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
      position: relative;
      z-index: 4;
      margin-left: .1em;
      margin-right: .1em;
      padding: 0 vr(1) 1rem vr(1);
      background-color: #f9f9f9;
      border-radius: 0 0 .5em .5em;
    }
  }

  .Demo--horizontal {
    position: relative;
    margin-top: vr(2);
    .Demo__header {
      position: relative;
      text-align: center;
      width: 100%;
      &:after {
        left: inherit;
        right: 0;
        height: 100%;
        width: 1px;
        border-radius: 0.5em 0 0 0.5em;

      }
    }
    .Demo__header--dark {
      &:after {
        width: 100%;
      }
    }
    .Demo__footer {
      width: 100%;
      height: 100%;
      border-radius: 0 0.5em 0.5em 0;
    }
    .col {
      padding: 0;
      margin: 0;
    }
    .row {
      padding: 0;
      margin: 0;
    }
  }

  .Demo--toggle {
    position: relative;
    .Demo__footer {
      height: auto;
      overflow: hidden;
    }
    .Demo__footer--active {
      height: auto;
      .Demo__toggle-btn {
        transform: rotate(-180deg);
        opacity: .8;
      }
    }
    .Demo__toggle-btn {
      position: absolute;
      font-size: 1.1rem;
      margin: 0 auto;
      text-align: center;
      top: .1rem;
      cursor: pointer;
      color: #6d6d6d;
      opacity: .3;
      right: .4rem;
      z-index: 2;
      transition: $global-transition;
      @include modifier(active) {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }

  .clearfix {
    clear: both;
  }

  //==========================================================================
  // Codeblock
  //==========================================================================
  .Demo__footer pre[class*="language-"] {
    padding: vr(2) 0 vr(1) 0 !important;
    margin: 0 !important;
  }
  pre {
    margin: 0 0 1rem 0 !important;
    &:last-of-type {
      margin: 0 !important;
    }
    &:first-of-type {
      margin: 0 0 1rem 0 !important;
    }
  }

  //==========================================================================
  // MEnu
  //==========================================================================
  .Menu--vertical {
    width: 100px;
  }
  //==========================================================================
  // Table
  //==========================================================================
  .Table {
    margin-bottom: 0;
    pre {
      margin: 0 !important;
    }
  }
  .SelectorTable {
  }
  .Table--demo {
    font-size: .85rem;
    .Table__Cell {
      &:last-of-type {
        text-align: right;
      }
    }
    .Table__Body {
      .Table__Row {
        .Table__Cell {
          &:first-of-type {
            color: $color-primary;
            font-size: 1rem;
          }
        }
      }
    }
  }

  //==========================================================================
  //
  //==========================================================================
  .component-demo {
    padding: vr(7) 0 vr(3) 0;
  }
  .Info-row {
    padding: vr(2) 0 vr(2) 0;
    background-color: $color-gray-lightest;
    margin-bottom: vr(2);
    &--empty {
      margin-bottom: 1rem;
    }
  }
  .examples-row {
    margin-bottom: vr(2);
  }
  .Menu--demo-component {
    font-size: .9rem;
    position: fixed;
    right: vr(1);
    .Menu__Link {
      padding: 0;
    }
  }
  .backtotop {
    color: $color-gray;
    margin-top: .5rem;
    font-size: .7em;
  }
  .Button--example {
    &:hover {
      &:after {
        position: absolute;
        content: '#';
        display: inline-block;
        margin-left: 0.2em;
        color: $color-gray-dark;
      }
    }
  }
  .example-block {
    margin-bottom: 2rem;
  }
  .example__title {
    background-color: #f9f9f9;
    display: inline-block;
    padding: .2em .8em 0 .8em;
    margin-bottom: -1px;
  }
  //==========================================================================
  // DOCMENU
  //==========================================================================
  .Doc-Navbar {
    position: fixed;
    height: 100vh;
    width: 200px;
    background: #333;
    padding: vr(3) 1rem;

  }
  .Doc-Menu {
    .Menu__Item {

    }
    .Menu__Link {
      color: #fff;
    }
  }
}