<form>
    <div class="Form__Group">
        <input type="text" class="Form__Control Form__Control--invalid"
               placeholder="Jane Doe">
        <small>Please provide a valid...</small>
    </div>
    <div class="Form__Group">
        <input type="text" class="Form__Control Form__Control--invalid"
               placeholder="Username">
        <small>Please provide a valid...</small>

    </div>
    <div class="Form__Group">
        <div class="Form__Check Form__Control--invalid">
            <label class="Form__CheckLabel">
                <input class="Form__CheckInput" type="checkbox"> Remember me
            </label>
        </div>
        <small>Please provide a valid...</small>
    </div>

    <button type="submit" class="Button">Submit</button>
</form>

