<ul class="Menu">
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/">One</a>
    </li>
    <li class="Menu__Item Dropdown">
        <a class="Menu__Link Dropdown__Toggle" href="#/">Two</a>
        <div class="Menu__Children Dropdown__Container">
            <!--MenuPrimary-->
            <ul class="MenuPrimary MenuPrimary--vertical">
                <li class="MenuPrimary__Item">
                    <a class="MenuPrimary__Link" href="#/">One</a>
                </li>
                <li class="MenuPrimary__Item">
                    <a class="MenuPrimary__Link" href="#/">Two</a>
                </li>
                <li class="MenuPrimary__Item Dropdown">
                    <a class="MenuPrimary__Link Dropdown__Toggle" href="#/">Three</a>
                    <div class="MenuPrimary__Children Dropdown__Container">
                        <!--MenuSecondary-->
                        <ul class="MenuSecondary MenuSecondary--vertical">
                            <li class="MenuSecondary__Item">
                                <a class="MenuSecondary__Link" href="#/">One</a>
                            </li>
                            <li class="MenuSecondary__Item">
                                <a class="MenuSecondary__Link" href="#/">Two</a>
                            </li>
                            <li class="MenuSecondary__Item">
                                <a class="MenuSecondary__Link"
                                   href="#/">Three</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="MenuPrimary__Item">
                    <a class="MenuPrimary__Link" href="#/">Four</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/">Three</a>
    </li>
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/">Four</a>
    </li>
</ul>