<div class="Dropdown Dropdown--mega">

    <button class="Menu__Toggle Dropdown__Toggle"></button>

    <div class="Dropdown__Container Dropdown__Container--fluid">
        <ul class="Menu Menu--mobile">
            <li class="Menu__Item">
                <a class="Menu__Link" href="#/">One</a>
            </li>
            <li class="Menu__Item">
                <a class="Menu__Link" href="#/">Two</a>
            </li>
            <li class="Menu__Item">
                <a class="Menu__Link" href="#/">Three</a>
            </li>
            <li class="Menu__Item">
                <a class="Menu__Link" href="#/">Four</a>
            </li>
        </ul>
    </div>
</div>