.grid {
  box-sizing: border-box;
  padding: 0 $gutter/2;

  @include variant(container) {
    margin: 0 auto;
    max-width: map_get($breakpoints, 'lg');
    width: 100%;
  }

  @include variant(no-gutters) {
    padding: 0;
  }
}