.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-right: -$grid-gutter/2;
  margin-left: -$grid-gutter/2;
  margin-bottom: 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include modifier(no-gutters) {
    margin: 0;
  }
}

//==========================================================================
// Modifier for the grid align top
//==========================================================================

@mixin make-row-modifier($breakpoint) {
  .row--#{$breakpoint}-top {
    align-items: flex-start;
  }
  .row--#{$breakpoint}-center {
    align-items: center;
  }
  .row--#{$breakpoint}-bottom {
    align-items: flex-end;
  }
}


