.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-right: -$gutter/2;
  margin-left: -$gutter/2;
  margin-bottom: 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include variant(no-gutters) {
    margin: 0;
  }
}