<ul class="Menu">
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/">One</a>
    </li>
    <li class="Menu__Item Dropdown Dropdown--mega">
        <a class="Menu__Link Dropdown__Toggle" href="#/">Two</a>
        <div class="Menu__Children Dropdown__Container">
            <div class="row">
                <div class="col col--sm u-text-justify">
                    Lorem ipsum dolor sit amet, isa
                    consec tetur
                    elit. Asse pas sata lorem
                    impedit minimalas
                    obcaecati tempore, veniam.
                </div>
                <div class="col col--sm">
                    <img src="http://dummy-images.com/abstract/dummy-200x200-Stripes.jpg"
                         alt="" class="u-img-responsive">
                </div>
                <div class="col col--sm u-text-justify">
                    Lorem ipsum dolor sit amet, isa
                    consec tetur
                    elit. Asse pas sata lorem
                    impedit minimalas
                    obcaecati tempore, veniam.
                </div>
                <div class="col col--sm ">
                    <img src="http://dummy-images.com/abstract/dummy-200x200-Stripes.jpg"
                         alt="" class="u-img-responsive">
                </div>
            </div>
        </div>
    </li>
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/">Three</a>
    </li>
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/">Four</a>
    </li>
</ul>