<!-- Mobile menu toggle button (hamburger/x icon) -->
<input id="main-menu-state" type="checkbox"/>
<label class="main-menu-btn" for="main-menu-state">
    <span class="main-menu-btn-icon"></span> Toggle main menu visibility
</label>

<ul id="main-menu" class="Menu sm-vertical" style="width: 90px">
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/"> One </a>
    </li>
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/"> Two </a>
        <ul class="Menu Menu--sub">
            <li class="Menu__Item">
                <a class="Menu__Link" href="#/"> One </a>
            </li>
            <li class="Menu__Item">
                <a class="Menu__Link" href="#/"> Two </a>
            </li>
            <li class="Menu__Item">
                <a class="Menu__Link" href="#/"> Three </a>
                <ul class="Menu Menu--sub">
                    <li class="Menu__Item">
                        <a class="Menu__Link" href="#/"> One </a>
                    </li>
                    <li class="Menu__Item">
                        <a class="Menu__Link" href="#/"> Two </a>
                    </li>
                    <li class="Menu__Item">
                        <a class="Menu__Link" href="#/"> Three </a>
                    </li>
                    <li class="Menu__Item">
                        <a class="Menu__Link" href="#/"> Four </a>
                    </li>
                </ul>
            </li>
            <li class="Menu__Item">
                <a class="Menu__Link" href="#/"> Four </a>
            </li>
        </ul>
    </li>
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/"> Three </a>
    </li>
    <li class="Menu__Item">
        <a class="Menu__Link" href="#/"> Four </a>
    </li>
</ul>