//==========================================================================
// Colors
//==========================================================================

$color-primary: #5a3364;
$color-secondary: #a62953;

$color-primary-hover: lighten($color-primary, 20%);
$color-secondary-hover: lighten($color-secondary, 20%);

$color-white: #FFFFFF;
$color-gray-lightest: #f6f6f6;
$color-gray-lighter: #e4e4e4;
$color-gray-light: #d3d3d3;
$color-gray: #a8a8a8;
$color-gray-dark: #7e7e7e;
$color-gray-darker: #545454;
$color-gray-darkest: #2a2a2a;
$color-black: #000000;

$color-error: #f03d3d;
$color-success: #3dbe62;
$color-warning: #f7ac32;
$color-focus: #1c86f2;

//==========================================================================
// Font
//==========================================================================

$font-base: 'Open Sans', sans-serif;
$font-primary: 'Roboto', sans-serif;

$text-color: $color-gray-dark;
$text-weight: 300;

//==========================================================================
// Typi
// ----
// Help: vendor/typi/scss/_typi.scss
//==========================================================================

$typi: (
      base: (
            null: (18px, 1.5),
            sm : 18px,
      ),
      h1-map: (
            null: (ms(4), vr(3.5)),
      ),
      h2-map: (
            null: (ms(3), vr(3)),
      ),
      h3-map: (
            null: (ms(2), vr(2)),
      ),
      h4-map: (
            null: (ms(1), vr(1)),
      ),
);

$typi-ms: false;
$typi-breakpoint: 'mappy-bp';

//==========================================================================
// Modular Scale
// -------------
// Anwendung: ms(step)
// Siehe: http://www.modularscale.com/
// Alle Ratios: vendor/modularscale/_vars.scss
//==========================================================================

$ms-base: 1em;
$ms-ratio: 2;

//==========================================================================
// Responsiveness & Grid
//==========================================================================

$grid-breakpoints: (
      xs: 480px,
      sm: 768px,
      md: 992px,
      lg: 1200px
);
$grid-columns: 12;
$grid-gutter: vr(1);
$grid-container-width: 50em;
$grid-float-breakpoint: map_get($grid-breakpoints, 'sm');

//==========================================================================
// Icons
//==========================================================================

// Custom Icons
$icon-font: 'icomoon';

// Font-Awesome
$fa-css-prefix: Icon-fa;
$fa-font-size-base: 1rem;
$fa-line-height-base: vr(1);
//$fa-font-path: "../scss/vendor/font-awesome/fonts";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"; // for referencing Bootstrap CDN font files directly

//==========================================================================
// Global
//==========================================================================

$global-radius: 0.3em;
$global-transition-time: 200ms;
$global-transition: all $global-transition-time ease-in-out;
$global-border-color: $color-gray-dark;

$z-index-0: -1;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 4;
$z-index-4: 8;
$z-index-5: 10;
$z-index-6: 100;
$z-index-7: 200;
$z-index-8: 300;
$z-index-9: 400;
$z-index-10: 500;

// @siehe _functions.scss
$base-dir: 'webroot/';