//==========================================================================
// Colors
//==========================================================================

$color-primary: #3E50B4;
$color-secondary: #FF3F80;
$color-primary-hover: lighten($color-primary, 20%);
$color-secondary-hover: lighten($color-secondary, 20%);

$color-black: #000000;
$color-gray-dark: #212121;
$color-gray-mid: #616161;
$color-gray: #b6b6b6;
$color-gray-light: #EEEEEE;
$color-white: #FFFFFF;

$color-error: #f03d3d;
$color-success: #3dbe62;
$color-warning: #f7ac32;
$color-focus: #1c86f2;

// Color-map für Helper
$color-map: (
      primary: $color-primary,
      secondary: $color-secondary,
      error: $color-error,
      success: $color-success,
      warning: $color-warning,
      focus: $color-focus,
);

//==========================================================================
// Font
//==========================================================================

$font-base: 'Open Sans', sans-serif;
$font-primary: 'Roboto', sans-serif;

$text-color: $color-gray-mid;
$text-weight: 300;

//==========================================================================
// Typi
// ----
// Help: vendor/typi/scss/_typi.scss
//==========================================================================

$typi: (
      base: (
            null: (18px, 1.5),
            sm : 18px,
      ),
      h1-map: (
            null: (ms(4), vr(3.5)),
      ),
      h2-map: (
            null: (ms(3), vr(3)),
      ),
      h3-map: (
            null: (ms(2), vr(2)),
      ),
      h4-map: (
            null: (ms(1), vr(1)),
      ),
);

$typi-ms: false;
$typi-breakpoint: 'mappy-bp';

//==========================================================================
// Modular Scale
// -------------
// Anwendung: ms(step)
// Siehe: http://www.modularscale.com/
// Alle Ratios: vendor/modularscale/_vars.scss
//==========================================================================

$ms-base: 1em;
$ms-ratio: 2;

//==========================================================================
// Responsiveness & Grid
//==========================================================================

$grid-columns: 12;
$grid-gutter: vr(1);
$grid-container-width: 50em;

$grid-breakpoints: (
      xs: 480px,
      sm: 768px,
      md: 992px,
      lg: 1200px
);

//==========================================================================
// Icons
//==========================================================================

// Custom Icons
$icon-font: 'icomoon';

// Font-Awesome
$fa-css-prefix: Icon-fa;
$fa-font-size-base: 1rem;
$fa-line-height-base: vr(1);
$fa-font-path: "../scss/vendor/font-awesome/fonts";

//==========================================================================
// Global
//==========================================================================

$global-radius: 0.2em;
$global-transition: 200ms;

$zindex-navbar: 500 !default;
$zindex-dropdown: 600 !default;
$zindex-sticky: 700 !default;
$zindex-modal: 800 !default;
$zindex-popover: 900 !default;
$zindex-tooltip: 1000 !default;

// @siehe _functions.scss
$base-dir: 'webroot/';