//==========================================================================
// Responsiveness & Grid
//==========================================================================
// Breakpoints
$breakpoints: (
      xs: 480px,
      sm: 768px,
      md: 992px,
      lg: 1200px
);
// Number of columns
$columns: 12;

// Gutter width
$gutter: vr(1);

// Container width
$container-width: 75em;

//==========================================================================
// Colors
//==========================================================================
$color-primary: #3E50B4;
$color-secondary: #FF3F80;

$color-primary-hover: lighten($color-primary, 20%);
$color-secondary-hover: lighten($color-secondary, 20%);

$color-black: #000000;
$color-gray-dark: #212121;
$color-gray-mid: #616161;
$color-gray: #BDBDBD;
$color-gray-light: #EEEEEE;
$color-white: #FFFFFF;

//==========================================================================
// Global
//==========================================================================
$global-radius: 0.2em;