$Menu-background: $color-white;
$Menu-Link-padding: 0.5em vr(1);
$Menu-Dropdown-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
.Menu {
  position: relative;
  z-index: 9999;
  display: block;
  margin: 0;
  padding: 0;

  &:after {
    content: "";
    display: block;
    height: 0;
    font: 0/0 serif;
    clear: both;
    overflow: hidden;
  }

  @include modifier('sub') {
    display: none;
    @include element('Item') {
      width: 100%;
    }
  }

  @include element('Item') {
    display: block;
    position: relative;

  }

  @include element('Link') {
    position: relative;
    display: block;
    padding: $Menu-Link-padding;
    @include on-event(true) {
      text-decoration: none;
    }
    &.disabled {
      cursor: default;
    }
  }

  // ** Desktopversion ** //
  @include breakpoint($grid-float-breakpoint) {
    ul {
      position: absolute;
    }
    li {
      float: left;
    }
    @include modifier("vertical") {
      li {
        float: none;
      }
    }
  }
}

