$button-radius: 0.2em;
$button-transition: $global-transition;

//==========================================================================
// Block
//==========================================================================

.Button {
  display: inline-block;
  font-weight: 400;
  line-height: vr(1);
  color: $color-white;
  padding: .5em 1em;
  border: 1px solid transparent;
  text-align: center;
  background-color: $color-primary;
  transition: $button-transition;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
  @include on-event() {
    color: $color-white;
    background-color: $color-primary-hover;
    text-decoration: none;
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .65;
  }

  //==========================================================================
  // Modifier
  //==========================================================================

  @include modifier('ghost') {
    background-color: transparent;
    border-width: .1em;
    border-style: solid;
    border-color: $color-primary;
    color: $color-primary;
    @include on-event() {
      background-color: $color-primary;
    }
  }

  @include modifier('full-width') {
    display: block;
    width: 100%;
  }

  @include modifier('round') {
    border-radius: $button-radius;
  }

  @include modifier('link') {
    background-color: transparent;
    color: $color-primary;
    border: none;
    padding: 0;
    @include on-event() {
      color: $color-primary-hover;
      background-color: transparent;
    }
  }

}