$icon-map: (
      user: "\f000",
      star: "\f001",
      search: "\f002",
);

@each $name, $icon in $icon-map {
  .Icon--#{$name}:#{$icon-pseudo} {
    content: $icon;
  }
}

//==========================================================================
// Block
//==========================================================================

.Icon {

  &:#{$icon-pseudo} {
    font-family: $icon-font;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto; // optimizelegibility throws things off #1094

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: relative;
    vertical-align: middle;
    transition: all 200ms ease-in-out;
    top: -1px;
  }

}

[class*="Icon"] {
  &:#{$icon-pseudo} {
    @if ($icon-pseudo: after) {
      margin-left: .5em;
    } @else if ($icon-pseudo: before) {
      margin-right: .5em;
    }
  }
}