.Icon {
  font-family: $icon-font;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-map: (
      user: "\f000",
      star: "\f001",
      search: "\f002",
);

@each $name, $icon in $icon-map {
  .Icon--#{$name}:before {
    content: $icon;
  }
}