.Icon {
  font-family: $icon-font;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &--bla{
    display: block;
  }
  &--xxx {
    display: flex;
  }
}

$icon-map: (
      user: "\f000",
      music: "\f001",
      search: "\f002",
      envelope-o: "\f003",
      heart: "\f004"
);

@each $name, $icon in $icon-map {
  .Icon--#{$name}:before {
    content: $icon;
  }
}