
$MenuSecondary-background: $color-white;
$MenuSecondary-Link-padding: 0.5em vr(1);
$MenuSecondary-Dropdown-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);

//==========================================================================
// Block
//==========================================================================

.MenuSecondary {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: $MenuSecondary-background;

  //==========================================================================
  // Elements
  //==========================================================================
  &--mod {

  }

  &__elemt3 {

  }

  @include element('Item') {
    position: relative;
    transition: $global-transition;
    @include modifier('mongo'){
      display: block;
    }
  }

  @include element(Link) {
    display: block;
    padding: $MenuSecondary-Link-padding;
    white-space: nowrap;

    @include on-event(true) {
      text-decoration: none;
    }
  }

  /* Cross Component Style: Dropdown__Container */
  @include element(Children) {
    box-shadow: $MenuSecondary-Dropdown-shadow;
    background: $MenuSecondary-background;
  }

  //==========================================================================
  // Modifier
  //==========================================================================

  @include modifier(right) {
    justify-content: flex-end;

    @include element(Item) {
      display: flex;
      justify-content: flex-end;
    }
  }

  @include modifier(center) {
    justify-content: center;

    @include element(Item) {
      display: flex;
      justify-content: center;
    }
  }

  @include modifier(expand) {

    @include element(Item) {
      flex: 1 1 0;
    }
  }

  @include modifier(vertical) {
    flex-direction: column;

    @include element(Children) {
      left: 100%;
      top: 0;
    }
  }

  @include modifier(vertical-inline) {
    flex-direction: column;

    @include element(Children) {
      position: relative;
      box-shadow: none;
    }
  }
}