a {
  color: $color-primary;
  text-decoration: none;
  @include on-event {
    color: $color-primary-hover;
    text-decoration: underline;
  }
}

/* remove yellow from chrome auto-fill background */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  color: $color-gray-dark;
  -webkit-text-fill-color: $color-gray-dark;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.8em;
  padding: 0.2em;
  border-radius: $global-radius;
  background-color: rgba(0, 0, 0, 0.1);
}