//==========================================================================
// Fließtext
//==========================================================================

@include typi-base();

body {
  font-family: $font-base;
  font-weight: $text-weight;
  color: $text-color;
}

//==========================================================================
// Headlines & Text Elements
//==========================================================================

h1, h2, h3 {
  font-family: $font-primary;
}

h1, .h1 {
  @include typi('h1-map');
  color: $color-primary;
  margin-bottom: vr(2);
}

h2, .h2 {
  @include typi('h2-map');
  color: $color-secondary;
  margin-bottom: vr(2);
}

h3, .h3 {
  @include typi('h3-map');
  color: $color-gray-mid;
  margin-bottom: vr(1);
}

h4, .h4 {
  @include typi('h4-map');
  color: $color-gray;
  margin-bottom: vr(1);
}

//==========================================================================
// Vertical Rythm
//==========================================================================

p, figure, blockquote,
pre, table, fieldset, hr {
  margin-bottom: vr(1);
}

blockquote {
  margin-left: vr(1);
}

ul, ol, dl, dd {
  margin-bottom:vr(1);
  padding-left: vr(1);
  li & {
    margin-bottom: 0;
  }
}


