//==========================================================================
// Typi
// @docu vendor/typi/scss/_typi.scss
//==========================================================================
// Typi
$typi: (
        base: (
                null: (18px, 1.666666667),
                $xs : 16px,
                $sm : 16px,
                $md : 18px,
                $lg : 20px,
        )
);

// Typi-ms
$typi-ms: false;

// Typefaces Map
$typefaces: false;

// Typi-breakpoint
$typi-breakpoint: 'mappy-bp';

@include typi-base();

// Reset margin
h1, h2, h3, h4, p {
  margin: 0;
}

h1, .h1 {
  margin-bottom: vr(2);
}

h2, .h2 {
  margin-top:vr(1.5);
  margin-bottom: vr(0.75);
}

h3, .h3 {
  margin-top:vr(1);
  margin-bottom: vr(0.5);
}

h4, .h4 {
  margin-top: vr(1);
  margin-bottom: vr(0.5);
}

p + p {
  margin-bottom: vr(1);
}