//==========================================================================
// Typi
// ----
// Help: vendor/typi/scss/_typi.scss
//
// @base: Font-size & Line-height für den Fließtext (Selektor: <html>)
// -- @null: ohne Media query
// -- @breakpoint (xs/sm/md/lg): Media query mit "min-width"
// -- @value: {font-size} oder ({font-size}, {line-height})
//==========================================================================
$typi: (
      base: (
            null: (18px, 1.5),
            xs : 16px,
            md : 18px,
      ),
      h1: (
            null: (ms(3), vr(2.5)),
      ),
      h2: (
            null: (ms(2), vr(2)),
      ),
      h3: (
            null: (ms(1), vr(1.5)),
      ),
      h4: (
            null: (1em, vr(1.5)),
      ),
);

// Typi-ms (Modular Scale je Breakpoint)
$typi-ms: false;

// Typefaces Map
$typefaces: false;

// Typi-breakpoint (Breakpoint mixin erlauben)
$typi-breakpoint: 'mappy-bp';

//
//==========================================================================
// Modular Scale
// -------------
// All Ratios: vendor/modularscale/_vars.scss
//==========================================================================
$ms-base: 1em;
$ms-ratio: $fifth;

//
//==========================================================================
// Headlines & Text Elements
//==========================================================================
h1, h2, h3, h4, p {
  margin: 0; // Reset
}

h1, .h1 {
  @include typi('h1');
  margin-bottom: vr(2);
}

h2, .h2 {
  @include typi('h2');
  margin-top: vr(1.5);
  margin-bottom: vr(1);
}

h3, .h3 {
  @include typi('h3');
  margin-top: vr(1);
  margin-bottom: vr(0.5);
}

h4, .h4 {
  @include typi('h4');
  margin-top: vr(1);
  margin-bottom: vr(1);
}

p {
  margin-bottom: vr(1);
}




// Fließtext Typographie
@include typi-base();