//==========================================================================
// Display
//==========================================================================

.u {
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
}

//==========================================================================
// Float
//==========================================================================

.u-float {
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
  &-none {
    float: none;
  }
}

//==========================================================================
// Hide / Visible (responsive)
//==========================================================================

.u {
  &-hidden {
    display: none;
  }
  &-visible {
    display: block;
  }
}

[class*='u-visible-'] {
  display: none !important;
}

[class*='u-hidden-'] {
  display: block !important;
}

@mixin make-hidden-utilities($breakpoint) {
  .u-hidden-#{$breakpoint} {
    display: none !important;
  }
}

@mixin make-visible-utilities($breakpoint) {
  .u-visible-#{$breakpoint} {
    display: block !important;
  }
}

//==========================================================================
// Sticky (responsive)
//==========================================================================

.u-sticky {
  position: fixed;
}

@mixin make-sticky-utilities($breakpoint) {
  .u-sticky-#{$breakpoint} {
    position: fixed;
  }
}

//==========================================================================
// Text Alignment
//==========================================================================

.u-text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
}

//==========================================================================
// Stuff
//==========================================================================

.u-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.u-full-width {
  width: 100%;
}

.u-disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.u-rounded {
  border-radius: $global-radius;
}

//==========================================================================
// Color
//==========================================================================

$color-map: (
      primary: $color-primary,
      secondary: $color-secondary,
      error: $color-error,
      success: $color-success,
      warning: $color-warning,
      focus: $color-focus,
);

@each $name, $value in $color-map {
  .u-color-#{$name} {
    color: $value;
  }
  .u-bg-#{$name} {
    background-color: $value;
  }
}

////////////////////////////////////////////////////////////////////////////
//==========================================================================
// Erstellt alle responsive Utility-Klassen
//==========================================================================

@mixin make-responsive-utilities($breakpoint) {
  @include make-hidden-utilities($breakpoint);
  @include make-visible-utilities($breakpoint);
  @include make-sticky-utilities($breakpoint);
}

@include create-utilitiy-classes($grid-breakpoints, $grid-columns);