////==========================================================================
//// Color
////==========================================================================
//@each $name, $value in $colors {
//  .u-color-#{$name} {
//    color: $value;
//  }
//  .u-bg-#{$name} {
//    background-color: $value;
//  }
//}


//==========================================================================
// Display
//==========================================================================

.u {
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
}

//==========================================================================
// Float
//==========================================================================

.u-float {
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
  &-none {
    float: none;
  }
}

//==========================================================================
// Hide / Visible
// --------------
// @grid-helpers: make-hidden-visible-helpers($breakpoint);
//==========================================================================

.u {
  &-hidden {
    display: none;
  }
  &-visible {
    display: block;
  }
}

//==========================================================================
// Text Alignment
//==========================================================================

.u-text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
}

//==========================================================================
// Sticky
// --------------
// @grid-helpers: make-sticky-helpers($breakpoint);
//==========================================================================

.u-sticky {
  position: fixed;
}

//==========================================================================
// Rounded
//==========================================================================

.u-rounded {
  border-radius: $global-radius;
}