//==========================================================================
// Color
//==========================================================================

@each $name, $value in $color-map {
  .u-color-#{$name} {
    color: $value;
  }
  .u-bg-#{$name} {
    background-color: $value;
  }
}


//==========================================================================
// Display
//==========================================================================

.u {
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
}

//==========================================================================
// Float
//==========================================================================

.u-float {
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
  &-none {
    float: none;
  }
}

//==========================================================================
// Hide / Visible
// --------------
// @grid-helpers: make-hidden-visible-helpers($breakpoint);
//==========================================================================

.u {
  &-hidden {
    display: none;
  }
  &-visible {
    display: block;
  }
}

//==========================================================================
// Text Alignment
//==========================================================================

.u-text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
}

//==========================================================================
// Sticky
// --------------
// @grid-helpers: make-sticky-helpers($breakpoint);
//==========================================================================

.u-sticky {
  position: fixed;
}

//==========================================================================
// Rounded
//==========================================================================

.u-rounded {
  border-radius: $global-radius;
}

//==========================================================================
// Image
//==========================================================================

.u-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

//==========================================================================
// Responsive utilities
//==========================================================================

@mixin make-hidden-visible-helpers($breakpoint) {
  .u-hidden-#{$breakpoint} {
    display: none;
  }
  .u-visible-#{$breakpoint} {
    display: block;
  }
}

@mixin make-sticky-helpers($breakpoint) {
  .u-sticky-#{$breakpoint} {
    position: fixed;
  }
}

//@mixin make-text-helpers($breakpoint) {
//  .text--#{$breakpoint}-right {
//    text-align: right;
//  }
//  .text--#{$breakpoint}-left {
//    text-align: left;
//  }
//  .text--#{$breakpoint}-center {
//    text-align: center;
//  }
//}



@mixin make-responsive-utilities($breakpoint) {
  @include make-hidden-visible-helpers($breakpoint);
  @include make-sticky-helpers($breakpoint);
  //@include make-text-helpers($breakpoint);
}