<table class="Table Table--border-rows">
    <thead class="Table__Header">
    <tr class="Table__Row">
        <th class="Table__Cell">#</th>
        <th class="Table__Cell">First Name</th>
        <th class="Table__Cell">Last Name</th>
        <th class="Table__Cell">Username</th>
    </tr>
    </thead>
    <tbody class="Table__Body">
    <tr class="Table__Row">
        <th class="Table__Cell" scope="row">1</th>
        <td class="Table__Cell">Mark</td>
        <td class="Table__Cell">Otto</td>
        <td class="Table__Cell">@mdo</td>
    </tr>
    <tr class="Table__Row">
        <th class="Table__Cell" scope="row">2</th>
        <td class="Table__Cell">Jacob</td>
        <td class="Table__Cell">Thornton</td>
        <td class="Table__Cell">@fat</td>
    </tr>
    <tr class="Table__Row">
        <th class="Table__Cell" scope="row">3</th>
        <td class="Table__Cell">Larry</td>
        <td class="Table__Cell">the Bird</td>
        <td class="Table__Cell">@twitter</td>
    </tr>
    <tr class="Table__Row">
        <th class="Table__Cell" scope="row">4</th>
        <td class="Table__Cell">Fipsi</td>
        <td class="Table__Cell">Cent</td>
        <td class="Table__Cell">@cyka</td>
    </tr>
    <tr class="Table__Row">
        <th class="Table__Cell" scope="row">5</th>
        <td class="Table__Cell">Mirfällt</td>
        <td class="Table__Cell">Keinname</td>
        <td class="Table__Cell">@mehrein</td>
    </tr>
    </tbody>
</table>